<div class="container-fluid">


    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <img class="center-block" src="./assets/img/tumblr_nucdg20jCh1tklspfo1_400.png" alt="Image">
            <h1 class="text-center">Eat DA Burger!</h1>
        </div>
    </div>




    {{#each burgers}}
        <div class="row">

            <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                {{#unless this.devoured}}
                    <textarea>{{this.burger_name}}</textarea>
                {{/unless}}
            </div>

            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                {{#unless this.devoured}}
                    <form action="/{{this.id}}?_method=PUT" method="POST">
                        <button type="submit">Devour It!</button>
                    </form>
                {{/unless}}
            </div>

            <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                {{#if this.devoured}}
                    <textarea>{{this.burger_name}}</textarea>
                {{/if}}
            </div>
        </div>
    {{/each}}



    <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"></div>

        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <form action="/" method="POST">

                <div class="form-group">
                    <label for="burger"></label>
                    <textarea rows="4" cols="80" class="form-control" name="burger_name" id="burger"
                              placeholder="Enter Burger Name Here"></textarea>
                </div>

                <button type="submit" class="btn btn-primary center-block">Submit</button>
                <p class="text-center">Click submit after entering your burger</p>
            </form>
        </div>
    </div>


</div>